$--fade-linear-transition: opacity 200ms linear !default;
$--all-transition: all .3s cubic-bezier(.645,.045,.355,1) !default;
$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$--index-normal: 1 !default;
$--checkbox-font-size: 14px !default;
$--button-padding-vertical: 12px !default;
$--button-padding-horizontal: 20px !default;
$--color-white: #FFFFFF !default;
$--color-text-regular: #606266 !default;
$--font-weight-primary: 500 !default;
$--border-color-base: #DCDFE6 !default;
$--font-size-base: 14px !default;
$--checkbox-bordered-height: 40px !default;
$--color-primary: #409EFF !default;
$--border-color-lighter: #EBEEF5 !default;
$--checkbox-bordered-medium-height: 36px !default;
$--checkbox-bordered-medium-padding: 7px 20px 7px 10px !default;
$--checkbox-font-color: $--color-text-regular !default;
$--checkbox-font-weight: $--font-weight-primary !default;
$--checkbox-bordered-padding: 9px 20px 9px 10px !default;
$--border-radius-base: 4px !default;
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--font-size-base: 14px !default;
$--checkbox-input-width: 14px !default;
$--checkbox-input-height: 14px !default;
$--checkbox-bordered-medium-input-height: 14px !default;
$--checkbox-bordered-medium-input-width: 14px !default;
$--checkbox-bordered-small-padding: 5px 15px 5px 10px !default;
$--checkbox-bordered-small-height: 32px !default;
$--button-small-font-size: 12px !default;
$--checkbox-bordered-small-input-height: 12px !default;
$--checkbox-bordered-small-input-width: 12px !default;
$--checkbox-bordered-mini-padding: 3px 15px 3px 10px !default;
$--checkbox-bordered-mini-height: 28px !default;
$--button-mini-font-size: 12px !default;
$--checkbox-bordered-mini-input-height: 12px !default;
$--checkbox-bordered-mini-input-width: 12px !default;
$--checkbox-disabled-input-fill: #edf2fc !default;
$--color-text-placeholder: #C0C4CC !default;
$--border-color-extra-light: #F2F6FC !default;
$--fill-base: $--color-white !default;
$--border-radius-small: 2px !default;
$--button-medium-padding-vertical: 10px !default;
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-text-secondary: #909399 !default;
$--background-color-base: #F5F7FA !default;

$--tree-font-color: $--color-text-regular !default;
$--button-medium-font-size: $--font-size-base !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--button-medium-border-radius: $--border-radius-base !default;
$--button-small-border-radius: #{$--border-radius-base - 1} !default;
$--button-mini-border-radius: #{$--border-radius-base - 1} !default;
$--checkbox-disabled-border-color: $--border-color-base !default;
$--checkbox-disabled-icon-color: $--color-text-placeholder !default;
$--checkbox-disabled-checked-input-fill: $--border-color-extra-light !default;
$--checkbox-disabled-checked-input-border-color: $--border-color-base !default;
$--checkbox-disabled-checked-icon-color: $--color-text-placeholder !default;
$--disabled-color-base: $--color-text-placeholder !default;
$--checkbox-checked-background-color: $--color-primary !default;
$--checkbox-checked-input-border-color: $--color-primary !default;
$--checkbox-checked-font-color: $--color-primary !default;
$--checkbox-input-border-color-hover: $--color-primary !default;
$--checkbox-checked-icon-color: $--fill-base !default;
$--checkbox-input-border: $--border-base !default;
$--checkbox-border-radius: $--border-radius-small !default;
$--checkbox-background-color: $--color-white !default;
$--button-default-background-color: $--color-white !default;
$--button-default-font-color: $--color-text-regular !default;
$--button-font-size: $--font-size-base !default;
$--checkbox-button-checked-background-color: $--color-primary !default;
$--checkbox-button-checked-border-color: $--color-primary !default;
$--checkbox-button-checked-font-color: $--color-white !default;
$--button-disabled-font-color: $--color-text-placeholder !default;
$--button-disabled-background-color: $--color-white !default;
$--button-disabled-border-color: $--border-color-lighter !default;
$--button-medium-padding-horizontal: 20px !default;
$--button-small-padding-vertical: 9px !default;
$--button-small-padding-horizontal: 15px !default;
$--button-mini-padding-vertical: 7px !default;
$--button-mini-padding-horizontal: 15px !default;
$--tree-node-hover-background-color: $--background-color-base !default;
$--tree-expand-icon-color: $--color-text-placeholder !default;